.entry a{
    text-decoration: none;
    color: black;
    
}
.entry a:hover{
    padding-bottom: 3px;
    border-color: black;
    border-bottom: 50%;;
    color: blueviolet;
    transition: 3s ease;
}
